[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.95.2"
uvicorn = {version = "==0.22.0", extras = ["standard"]}
sentry-sdk = "==1.25.0"
#{version = "==23.5.2", extras = ["fastapi"]}
PySocks = "==1.7.1"
requests = "==2.31.0"
prometheus-fastapi-instrumentator =  "==6.0.0"
pydantic = "==1.10.8"
cacheout = "*"
jinja-cli = "==1.2.2"
python-dotenv = "==0.19.1"

[dev-packages]
pytest = "==7.3.1"
pytest-cov = "==4.0.0"


[requires]
python_version = "3.11"
