[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.103.2"
uvicorn = "==0.23.2"
sentry-sdk = "==2.8.0"
PySocks = "==1.7.1"
requests = "==2.32.2"
prometheus-fastapi-instrumentator = "==6.1.0"
cacheout = "==0.14.1"
jinja-cli = "==1.2.2"
python-dotenv = "==1.0.0"
httpx = "==0.25.0"
kubernetes = "==28.1.0"
flake8-annotations = "==3.0.1"
chardet = "==5.2.0"

[dev-packages]
pytest = "==7.3.1"
python-dotenv = "==1.0.0"
pytest-cov = "==4.0.0"
requests_mock = "==1.9.3"
pre-commit = "==3.3.3"
black = "==24.3.0"
flake8 = "==6.1.0"
pytest_kind = "==22.11.1"

[requires]
python_version = "3.12"
