---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: service-wizard2
  name: service-wizard2
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: service-wizard2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: service-wizard2
    spec:
      containers:
        - name: service-wizard2
          image: ghcr.io/kbase/service-wizard2-develop:latest
          ports:
            - containerPort: 5000
          readinessProbe:
           failureThreshold: 3
           httpGet:
             path: /status/
             port: 5000
             scheme: HTTP
           periodSeconds: 10
           successThreshold: 1
           timeoutSeconds: 1
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              add:
                - CHOWN
                - DAC_OVERRIDE
                - FOWNER
                - NET_BIND_SERVICE
                - SETGID
                - SETUID
              drop:
                - ALL
          envFrom:
          - configMapRef:
              name: service-wizard2-env
